
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi!</h1>
    <p>
      A booking with your name and email was successful.
    </p>
    <p>
      To visit your booking page, please follow this link: <%= booking_url(@booking) %> <br>
    </p>
    <p>Thanks for booking with us and have a great day!</p>
  </body>
</html>